.anime {
    color: white;
    align-content: flex-start;
    background-color: rgb(28, 28, 28);
    display: flex;
    margin: 1vw;
    position: relative;
    opacity: 85%;
    transition: 0.25s;
}

.anime:hover {
    opacity: 100%;
}

.poster {
    width: 20%;
}

.poster img{
    align-content: flex-start;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    font-weight: 600;
    margin: auto 2%;
    padding: 2% 0;
    text-align: center;
    width: 100%;
}

.info p{
    margin: 0;
}


/* Button Styling Below */
.entry-buttons button {
    font-size:0.8em;
    outline:none;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}
.entry-buttons button:hover {
    opacity: 75%;
}

.entry-buttons {
    column-gap: 2vw;
    display: grid;
    margin: auto 0;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.info button {
    display: inline;
    height: 7vw;
}

.selectAnime {
    background-color: rgb(91, 136, 91);
    Color: white;
}

.moreInfo {
    background-color: rgb(66, 68, 171);
    color: white;
}
